/BusinessManger/obj

/BusinessManger/bin

/ClientCenter/obj

/ClientCenter/bin

/ClockRoomManager/obj

/ClockRoomManager/bin
/FrontCashierManager/obj

/FrontCashierManager/bin

/GuestManager/bin

/GuestManager/obj

/MemberManager/obj

/MemberManager/bin

/RepertoryManager/obj

/RepertoryManager/bin

/ReportManager/bin

/ReportManager/obj

/ReservationManager/bin

/ReservationManager/obj

/StaffManager/obj

/StaffManager/bin

/FootManager/bin
/FootManager/de
/FootManager/es
/FootManager/ja
/FootManager/ja
/FootManager/obj
/FootManager/ru
/SettlementCenter/obj

/SettlementCenter/bin

