<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="MySqlServer" value="127.0.0.1" />
    <add key="DataBase" value="footm" />
    <add key="DataUser" value="root" />
    <add key="DataPassword" value="123456" />
    <add key="User" value="sys" />
    <add key="Password" value="O4xBlC6tKCFjcbTI0oMbD1Ejpuk7UF2l0AtCczJHkSjzjIDvElnuf6m3VtVXKP8QIEHQgXaMg1vU4/0ZCMfrBb8AwUINLCxzBnZ+sWx81gQ9WPm8h9T9BU2/1SgzROrirUXG2dgx397xHoM9KXz2MM8W+7h5qbsOAYW+LE97c2g=" />
    <add key="Remember" value="true" />
    <add key="CompanyId" value="1" />
  </appSettings>

  <log4net>
    <root>
      <!--日志输出级别(只会输出比跟节点的root类型高的级别) DEBUG<INFO<WARN<ERROR<FATAL-->
      <!--备注：如果没有logger节点，默认会使用上面root的Appender设置-->
      <level value="ALL" />
      <appender-ref ref="RollingAppLogFileAppender" />
    </root>

    <logger name="AppAppender" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="RollingAppLogFileAppender" />
    </logger>

    <logger name="ErrorAppender" additivity="false">
      <level value="ERROR" />
      <appender-ref ref="RollingErrorLogFileAppender" />
    </logger>

    <logger name="ADONetAppender" additivity="false">
      <level value="INFO"/>
      <appender-ref ref="ADONetAppender"/>
    </logger>

    <!--存放程序基本日志信息-->
    <appender name="RollingAppLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--保存日志文件的路径-->
      <param name="File" value="Logs/AppLog/AppLog.txt" />
      <!--记录日志写入文件时，不锁定文本文件，防止多线程时不能写Log,官方说线程非安全-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--是否在文件中追加-->
      <param name="AppendToFile" value="true" />
      <!--混合使用日期和文件大小变换日志文件名-->
      <param name="RollingStyle" value="Composite" />
      <!--日期的格式-->
      <param name="DatePattern" value="'.'yyyyMMdd" />
      <!--最大变换数量-->
      <param name="MaxSizeRollBackups" value="20" />
      <!--最大文件大小-->
      <param name="MaximumFileSize" value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <!--前缀显示样式-->
        <conversionPattern value="[%d] [%-5p] --&gt; %m%n" />
      </layout>
    </appender>

    <!--存放程序错误级别日志信息-->
    <appender name="RollingErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--保存日志文件的路径-->
      <param name="File" value="Logs/ErrorLog/ErrorLog.txt" />
      <!--记录日志写入文件时，不锁定文本文件，防止多线程时不能写Log,官方说线程非安全-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--是否在文件中追加-->
      <param name="AppendToFile" value="true" />
      <!--混合使用日期和文件大小变换日志文件名-->
      <param name="RollingStyle" value="Composite" />
      <!--日期的格式-->
      <param name="DatePattern" value="'.'yyyyMMdd" />
      <!--最大变换数量-->
      <param name="MaxSizeRollBackups" value="20" />
      <!--最大文件大小-->
      <param name="MaximumFileSize" value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <!--前缀显示样式-->
        <conversionPattern value="%n[%d] [%-5p] --&gt; %m%n" />
      </layout>
    </appender>

    <!--存数据库-->
    <!--<appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="INFO"/>
      </filter>
      --><!--日志缓存写入条数 设置为0时只要有一条就立刻写到数据库--><!--
      <bufferSize value="0"/>
      --><!--日志数据库连接串--><!--
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <connectionString value="server=192.168.8.178;database=QT;uid=QT.DEV;pwd=111111;MultipleActiveResultSets=true"/>
      --><!--日志数据库脚本--><!--
      <commandText value="INSERT INTO WebOperationLogs (
	                      vchGuid,
	                      vchBusinessType,
	                      vchBusinessOperation,
	                      vchOperationObjectId,
	                      vchOperationObjectName,
	                      vchOperatorDescription,
	                      vchOperationDetailsId,
	                      vchOperatorDetailsDescription,
	                      nOperatorResult,
	                      vchOperator,
	                      dtOperatorTime
                      )
                      VALUES
	                      (
		                      @vchGuid,
		                      @vchBusinessType,
		                      @vchBusinessOperation,
		                      @vchOperationObjectId,
		                      @vchOperationObjectName,
		                      @vchOperatorDescription,
		                      @vchOperationDetailsId,
		                      @vchOperatorDetailsDescription,
		                      @nOperatorResult,
		                      @vchOperator,
		                      @dtOperatorTime)"/>
      <parameter>
        <parameterName value="@vchGuid"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="QTHttpServer.LogLayout">
          <conversionPattern value="%property{Id}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@vchBusinessType"/>
        <dbType value="String"/>
        <size value="64"/>
        <layout type="QTHttpServer.LogLayout">
          <conversionPattern value="%property{BusinessType}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@vchBusinessOperation"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="QTHttpServer.LogLayout">
          <conversionPattern value="%property{BusinessOperation}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@vchOperationObjectId"/>
        <dbType value="String"/>
        <size value="32"/>
        <layout type="QTHttpServer.LogLayout">
          <conversionPattern value="%property{OperationObjectId}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@vchOperationObjectName"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="QTHttpServer.LogLayout">
          <conversionPattern value="%property{OperationObjectName}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@vchOperatorDescription"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="QTHttpServer.LogLayout">
          <conversionPattern value="%property{OperatorDescription}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@vchOperationDetailsId"/>
        <dbType value="String"/>
        <size value="32"/>
        <layout type="QTHttpServer.LogLayout">
          <conversionPattern value="%property{OperationDetailsId}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@vchOperatorDetailsDescription"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="QTHttpServer.LogLayout">
          <conversionPattern value="%property{OperatorDetailsDescription}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@nOperatorResult"/>
        <dbType value="Byte"/>
        <layout type="QTHttpServer.LogLayout">
          <conversionPattern value="%property{OperatorResult}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@vchOperator"/>
        <dbType value="String"/>
        <size value="225"/>
        <layout type="QTHttpServer.LogLayout">
          <conversionPattern value="%property{Operator}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@dtOperatorTime"/>
        <dbType value="DateTime"/>
        <layout type="QTHttpServer.LogLayout">
          <conversionPattern value="%property{OperatorTime}"/>
        </layout>
      </parameter>
    </appender>-->

  </log4net>
</configuration>