<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportManager.Properties.Settings.footmConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=footm"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>